<div class='wrapper'>
    <h1>Título</h1>
    <h2>Objetivo</h2>
    <p>Descripción</p>
    <h2>Apartado 1</h2>
    <p><strong>Descripción</strong></p>
    <p>Contenido</p>
</div>


<!-- Styles -->

<style>
        .wrapper {
            margin-top: 75px;
            margin-left: 100px;
            margin-right: 100px;
            font-family: Arial, Helvetica, sans-serif;
        }
        .date{
            color: #4d4846
        }
        h1{
            color: #695d46;
            font-size: 42;
        }
        h2{
            color: #ff5e0e;
            font-size: 28;
        }
        ul{
            margin-left: 30px;
        }
        li{
            font-size: 16;
        }
        .project-name{
            color:black;
        }
    </style>