<div class='wrapper'>
    <h1 class='project-name'>&lt;nombre del proyecto&gt;</h1>
    <h1>Notas de Versión</h1>
    <p class='date'>día/mes/año</p>
    <h2>¿Qué es nuevo?</h2>
    <ul>
        <li>
            <strong>Característica</strong>
            <p>Descripción</p>
        </li>
        <li>
            <strong>Característica</strong>
            <p>Descripción</p>
        </li>
    </ul>
    <h2>¿Qué cambió?</h2>
    <ul>
        <li>
            <strong>Característica</strong>
            <p>Descripción</p>
        </li>
        <li>
            <strong>Característica</strong>
            <p>Descripción</p>
        </li>
    </ul>
    <h2>¿Qué se eliminó?</h2>
    <ul>
        <li>
            <strong>Característica</strong>
            <p>Descripción</p>
        </li>
        <li>
            <strong>Característica</strong>
            <p>Descripción</p>
        </li>
    </ul>

</div>


<!-- Styles -->

<style>
        .wrapper {
            margin-top: 75px;
            margin-left: 100px;
            margin-right: 100px;
            font-family: Arial, Helvetica, sans-serif;
        }
        .date{
            color: #4d4846
        }
        h1{
            color: #695d46;
            font-size: 42;
        }
        h2{
            color: #ff5e0e;
            font-size: 28;
        }
        ul{
            margin-left: 30px;
        }
        li{
            font-size: 16;
        }
        .project-name{
            color:black;
        }
    </style>