<h1>[Título]</h1>
<h2>[Objetivos]</h2>
<p>En este apartado se escribe cual será el uso de la política.</p>
<h2>[Apartado 1]</h2>
<ul>
    <li>Política 1</li>
    <li>Política 2</li>
    <li>Política 3</li>
    <li>Política 4</li>
    <li>Política 5</li>
    <li>Política 6</li>
</ul>
<h2>[Apartado 2]</h2>
<ul>
    <li>Política 1</li>
    <li>Política 2</li>
    <li>Política 3</li>
    <li>Política 4</li>
    <li>Política 5</li>
    <li>Política 6</li>
</ul>
<h2>[Apartado 3]</h2>
<ul>
    <li>Política 1</li>
    <li>Política 2</li>
    <li>Política 3</li>
    <li>Política 4</li>
    <li>Política 5</li>
    <li>Política 6</li>
</ul>
